<?xml version = "1.0" encoding = "UTF-8"?>
<!--
    >> Log4J Appenders <<
        LINK: https://logging.apache.org/log4j/2.x/manual/appenders.html

    >> CronTriggeringPolicy (CronExpression) <<
        LINK: https://logging.apache.org/log4j/2.x/javadoc/log4j-core/org/apache/logging/log4j/core/util/CronExpression.html
-->
<Configuration strict = "false">
    <Properties>
        <Property name = "appName">DatabaseServer</Property>
        <Property name = "logPath">./Logs/${appName}</Property>
        <Property name = "logPattern">[%-level]%d{[yyyy-MM-dd][HH:mm:ss.SSS]}[%t] %c{1} - %msg%n</Property>
    </Properties>
    <Appenders>

        <Console name = "Console" target = "SYSTEM_OUT">
            <PatternLayout>
                <pattern>${logPattern}</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name = "LogFile" fileName = "${logPath}/${date:yyyy-MM}/${appName} ${date:MM-dd}.log"
                     filePattern = "${logPath}/Archive/${date:yyyy}/${appName} %d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern = "${logPattern}"/>
            <CronTriggeringPolicy schedule="0 1 * * * ?"/>
            <DefaultRolloverStrategy compressionLevel = "9">
                <Delete basePath = "${logPath}/" maxDepth = "1" testMode = "true">
                    <IfFileName glob = "*/${appName} *.log.zip"/>
                    <IfLastModified age = "P1D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level = "INFO">
            <AppenderRef ref = "LogFile"/>
            <AppenderRef ref = "Console"/>
        </Root>
    </Loggers>
</Configuration>